<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="green.mapper.RatingMapper">
 
	<sql id="search">
		<choose>
		
		<when test="searchType=='n'.toString()">
     	   r.movie_num = #{movie_num}
    	 </when>
     	
     	<when test="searchType=='w'.toString()">
     	   r.id = #{id}
    	 </when>

  		</choose>
	</sql>


	<select id="ratingAverage" resultType="int">

		select round(nvl(avg(rate), 0)) from rating where movie_num=#{movie_num}
	</select>


	<select id="searchRowsCount" resultType="int">
	<![CDATA[
		select count(*) from rating r where ]]>
	<include refid="search"></include>
	</select>




	<select id="searchList" resultType="VO.RatingVO">
	
	<![CDATA[
		select r.* , movie_title from rating r, movie m where r.movie_num=m.movie_num and ]]>
		
		<include refid="search"></include>
		
		order by regdate desc
		
	</select>

	<insert id="insert" >
		
	 		insert into rating values((select nvl(max(RATING_NUM),0)+1 from rating),#{movie_num},#{id},#{rate},#{takeaway},#{spoiler},SYSDATE)
	 	
  	</insert> 
  	 	
	<delete id="delete">
		
			delete from rating where rating_num=#{rating_num}	
		</delete> 


</mapper>  
  